<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>About us</title>
</head>

<body>

    <div class="navbar">
        <h1>TSCAP.</h1>
        <ul>
            <li>
                <a href="/contact">Contact us</a>
            </li>
            <li>
                <a href="/about" id="current">About us</a>
            </li>
            <li>
                <a href="/products">Products</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </div>
    <div class="containerA" style="color: white;">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolore exercitationem itaque illum. Quo animi
            commodi natus molestias quae ut quidem iste sint error, porro obcaecati aut corporis, illo nobis.
            Soluta ipsa quos non eius? Eos quis ratione harum dolorem libero accusamus itaque accusantium, omnis iure
            ipsum, illo nam cum cupiditate dolorum, mollitia similique vel? Consectetur neque sunt error quasi.
            Voluptate magni commodi, ad quo placeat unde molestiae est adipisci quidem maxime excepturi alias, repellat,
            laudantium sunt explicabo accusamus nulla minima perspiciatis culpa aliquid iusto? Libero quasi asperiores
            consequuntur ipsam?
            Odit sequi autem illum pariatur hic. Tempora unde laudantium recusandae nemo amet officia eum sunt
            aspernatur exercitationem voluptatibus magnam saepe maxime illum, nam temporibus enim perferendis nobis
            dolorem. Quibusdam, hic.
            Saepe ea dolores, harum debitis suscipit nemo cumque a similique quo sed laboriosam nisi ipsam eligendi cum
            minima doloremque veniam laborum natus voluptatum facilis amet? Sit perferendis nihil molestiae ipsum?
            Quas non distinctio cum neque praesentium? Et facilis commodi cumque eveniet ea. Debitis, ipsam voluptate?
            Commodi dolores error numquam, laboriosam, aliquid magnam autem aliquam reiciendis, facere fuga in dolorum
            alias!
            Fugit placeat impedit corrupti molestiae sapiente similique. Placeat doloribus voluptatum molestias
            quibusdam natus dolorum sapiente perferendis fugiat fugit asperiores vitae recusandae fuga labore, quas,
            dolore repudiandae voluptas! Officia, eum quasi?
            Consequatur, eaque, aspernatur est nostrum atque nulla dolorem maiores voluptates earum nisi saepe totam
            consequuntur velit molestias reprehenderit dignissimos voluptas quis aperiam odit? Repudiandae quam odio
            obcaecati quae, a amet?
            Illo fugiat, eius temporibus at eos placeat tempora incidunt, corporis hic, vel maxime explicabo aut
            laborum. Earum exercitationem distinctio voluptates natus iste facilis iusto, nemo necessitatibus. Amet
            quisquam assumenda odio?
        </p>
    </div>
</body>

</html>