<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Contact Us</title>
</head>
<body>
        <div class="navbar">
                <h1>TSCAP.</h1>
                <ul>
                    <li>
                        <a href="/contact" id="current">Contact us</a>
                    </li>
                    <li>
                        <a href="/about" >About us</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
    
    <div class="containerC">
        <h1>Contact us!</h1>
        <form action="" >
            <input type="text" placeholder="Your Name">
            <input type="email" placeholder="Your Email">
            <input type="textarea" placeholder="Type Your Message Here">
            <input type="submit" value="Send!">
        </form>
    </div>
</body>
</html>